@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  position: relative;
  background: #fff !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button,
a {
  color: #000;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fancybox__container {
  z-index: 9999999999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* ##################################### */
header {
  width: 100%;
  height: 100px;
  display: flex;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
header nav {
  height: 100%;
  position: static !important;
}
header nav .logo {
  flex: 1;
}
header nav .logo img {
  height: 64px;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex: 3;
}
header nav ul li {
  padding: 0 14px;
}
header nav ul li a {
  font-weight: 700;
  color: #000;
  font-size: 14px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #da9c28;
  transition: all 0.4s ease-in-out;
}
header nav ul li a:hover, header nav ul li a.active {
  color: #da9c28;
}
header nav ul li a:hover::after, header nav ul li a.active::after {
  width: 100%;
}
header nav ul li.hide_lg {
  display: none;
}
@media (max-width: 992px) {
  header nav ul li.hide_lg {
    display: block;
  }
}
@media (max-width: 992px) {
  header nav ul {
    position: absolute;
    top: 100px;
    right: -100%;
    width: 100%;
    background: #fff;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: flex-start;
    padding: 32px 0;
    transition: all 0.4s ease-in-out;
  }
  header nav ul li {
    padding: 8px 24px;
  }
  header nav ul.show {
    right: 0;
  }
}
header nav .btns {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 992px) {
  header nav .btns {
    display: none;
  }
}
header nav .menu-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 2;
  flex: 1;
}
@media (max-width: 992px) {
  header nav .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
  }
}
header nav .menu-btn .menu-bar {
  position: relative;
  height: 2px;
  width: 28px;
  background-color: #000;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar.menu-transform {
  background-color: transparent;
  transform: rotate(90deg);
}
header nav .menu-btn .menu-bar.menu-transform::before {
  transform: translate(0px, 9px) rotate(135deg);
}
header nav .menu-btn .menu-bar.menu-transform::after {
  transform: translate(0px, -9px) rotate(-135deg);
}

main .hero_section {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .hero_section .heroSwiper {
  width: 100%;
  height: 100%;
}
main .hero_section .heroSwiper .swiper-slide {
  position: relative;
}
main .hero_section .heroSwiper .swiper-slide .img {
  width: 100%;
  height: 100%;
}
main .hero_section .heroSwiper .swiper-slide .img img,
main .hero_section .heroSwiper .swiper-slide .img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .hero_section .heroSwiper .swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .hero_section .heroSwiper .swiper-slide .overlay .text {
  width: min(700px, 100% - 32px);
  margin-top: 100px;
}
main .hero_section .heroSwiper .swiper-slide .overlay h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}
main .hero_section .heroSwiper .swiper-slide .overlay p {
  color: #fff;
  text-align: center;
}
main .hero_section .heroSwiper .swiper-slide.swiper-slide-active .overlay h2 {
  animation: fadeInUp 1s 0.5s both;
}
main .hero_section .heroSwiper .swiper-slide.swiper-slide-active .overlay p {
  animation: fadeInUp 1s 0.75s both;
}
main .hero_section .swiper-button-next,
main .hero_section .swiper-button-prev {
  top: 95% !important;
}
main .hero_section .mainSliderNext {
  right: 20px;
}
main .hero_section .mainSliderNext::after {
  content: "\f178";
  font-family: "Font Awesome 6 pro";
  background: none;
  color: #fff;
  font-size: 18px;
}
main .hero_section .mainSliderPrev {
  right: 60px;
  left: initial;
}
main .hero_section .mainSliderPrev::after {
  content: "\f177";
  font-family: "Font Awesome 6 pro";
  background: none;
  color: #fff;
  font-size: 18px;
}
main .hero_section .mainSliderPagination {
  width: auto;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
main .hero_section .mainSliderPagination .swiper-pagination-bullet {
  width: 48px;
  height: 4px;
  background: #fff;
  border-radius: 0;
}
main .parteners {
  padding: 60px 8px;
}
main .parteners h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
main .parteners .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .parteners img {
  height: 100px;
}
main .purposes {
  width: 100%;
  padding: 60px 8px;
  background: #fafafa;
}
main .purposes h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
main .purposes p {
  margin-bottom: 32px;
}
main .purposes .purpose {
  background: #fff;
  padding: 24px;
  border-radius: 0 24px 0 24px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}
main .purposes .purpose img {
  height: 64px;
  align-self: flex-start;
}
main .purposes .purpose:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 24px 0 24px 0;
}
main .purposes .purpose h4 {
  color: #000;
  margin-bottom: 4px;
  font-weight: 600;
}
main .purposes .purpose p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
main .competitions {
  padding: 60px 8px;
  background-image: url("../images/pattern-1.webp");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
main .competitions h2 {
  font-size: 28px;
  color: #000;
  margin-bottom: 32px;
}
main .competitions .flipCard {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .competitions .flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main .competitions .flipCard .cardFront .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  gap: 4px;
}
main .competitions .flipCard .cardFront .content .title {
  font-size: 20px;
  color: #fff;
}
main .competitions .flipCard .cardFront .time {
  display: flex;
  gap: 24px;
}
main .competitions .flipCard .cardFront .time p {
  color: #fff;
  font-size: 14px;
}
main .competitions .flipCard .cardFront .time p i {
  margin-left: 4px;
}
main .competitions .flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}
main .competitions .flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .competitions .flipCard .cardBack .content .sponser {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
main .competitions .flipCard .cardBack .content img {
  height: 32px;
}
main .competitions .flipCard .cardBack .content h2 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #000;
  font-weight: 600;
}
main .competitions .flipCard .cardBack .content h2 img {
  height: 24px;
  margin-left: 8px;
}
main .competitions .flipCard .cardBack .content p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin: 0;
}
main .competitions .flipCard .cardBack .content h6 {
  margin: 0;
  font-weight: 600;
  color: #000;
}
main .competitions .flipCard .cardBack .content ol {
  padding: 0 16px 0 0;
  margin: 0;
}
main .competitions .flipCard .cardBack .content ol li {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin: 0;
}
main .competitions .flipCard .cardBack .content .btns {
  display: flex;
  gap: 32px;
}
main .competitions .flipCard:hover {
  z-index: 2;
}
main .competitions .flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
main .competitions .flipCard:hover .cardBack {
  transform: rotateY(0deg);
}
main .page_header {
  width: 100%;
  height: 40vh;
  background: #fafafa;
  background-image: url("../images/page_head.jpg");
  background-position: top left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-repeat: no-repeat;
}
main .page_header h1 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
main .page_header h6 {
  font-size: 14px;
  color: #000;
}
main .page_header h6 a {
  color: #da9c28;
}
main .page_header .profile {
  position: relative;
}
main .page_header .profile .profile_img {
  position: absolute;
  bottom: -88px;
  overflow: hidden;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 4px solid #fff;
}
main .page_header .profile .profile_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
  main .page_header .profile .profile_img {
    left: 50%;
    transform: translateX(-50%);
  }
}
main .page_header .profile .profile_info {
  position: absolute;
  right: 210px;
  top: 16px;
}
@media (max-width: 768px) {
  main .page_header .profile .profile_info {
    right: 0;
    top: 100px;
  }
}
main .page_header .profile .profile_info h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
main .page_header .profile .profile_info h2 i {
  color: #1edf1e;
  font-size: 16px;
}
@media (max-width: 768px) {
  main .page_header .profile .profile_info h2 {
    text-align: center;
  }
}
main .page_header .profile .profile_info p {
  font-size: 14px;
  color: #777777;
  font-weight: 600;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  main .page_header .profile .profile_info p {
    text-align: center;
  }
}
main .page_header .profile .profile_info ul {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main .page_header .profile .profile_info ul {
    justify-content: center;
  }
}
main .page_header .profile .profile_info ul li {
  padding-left: 16px;
}
main .page_header .profile .profile_info ul li span,
main .page_header .profile .profile_info ul li i,
main .page_header .profile .profile_info ul li a {
  color: #777777;
}
main .contact_section {
  padding: 60px 12px;
}
main .contact_section form {
  padding: 42px 12px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 576px) {
  main .contact_section form {
    padding: 32px 0;
  }
}
main .contact_section form .form-group {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  main .contact_section form .form-group {
    flex-direction: column;
    gap: 48px;
  }
}
main .contact_section form .form-group .inputfield {
  width: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main .contact_section form .form-group .inputfield label {
  position: absolute;
  font-size: 14px;
  color: #777777;
  right: 16px;
  transform: translateY(-50%);
  top: 50%;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  cursor: auto;
}
main .contact_section form .form-group .inputfield label.message-label {
  top: 20%;
}
main .contact_section form .form-group .inputfield label.h {
  top: -4px;
  color: #000;
}
main .contact_section form .form-group .inputfield input,
main .contact_section form .form-group .inputfield textarea {
  width: 100%;
  direction: rtl;
  height: 45px;
  border: none;
  background: none;
  outline: none;
}
main .contact_section form .form-group .inputfield input:focus + span::after,
main .contact_section form .form-group .inputfield textarea:focus + span::after {
  width: calc(100% - 32px);
}
main .contact_section form .form-group .inputfield textarea {
  padding: 16px 0;
  height: 130px;
}
main .contact_section form .form-group .inputfield .highlight {
  width: 100%;
  height: 2px;
  background: #eeeeee;
}
main .contact_section form .form-group .inputfield .highlight::after {
  content: "";
  width: 0;
  transition: all 0.4s ease-in-out;
  left: 50%;
  height: 2px;
  background: #000;
  position: absolute;
  transform: translate(-50%);
}
main .contact_section form button {
  border: none;
  background: none;
  outline: none;
  align-self: flex-end;
  margin-left: 16px;
  isolation: isolate;
  padding: 0 16px;
  width: 140px;
  height: 50px;
  border: 1px solid #da9c28;
  color: #da9c28;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
main .contact_section form button i {
  transform: scaleX(-1);
  margin-right: 4px;
}
main .contact_section form button::after {
  position: absolute;
  content: "";
  height: 150px;
  width: 0;
  right: 10px;
  transition: all 0.4s ease-in-out;
  background: #000;
  transform: rotate(-25deg);
  z-index: -1;
}
main .contact_section form button:hover {
  color: #fff;
  border-color: #000;
}
main .contact_section form button:hover::after {
  width: 110%;
  right: -10px;
}
main .contact_section .contact_info {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  padding: 24px;
}
main .contact_section .contact_info h3 {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 32px;
}
main .contact_section .contact_info h5 {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 8px;
}
main .contact_section .contact_info p {
  color: #777777;
  font-size: 14px;
  line-height: 22px;
}
main .contact_section .contact_info .field {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
  align-items: center;
}
main .contact_section .contact_info .field .icon {
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #da9c28;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .contact_section .contact_info .field .icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: all 0.4s ease-in-out;
  background: #da9c28;
}
main .contact_section .contact_info .field .icon i {
  font-size: 24px;
  color: #da9c28;
  z-index: 1;
}
main .contact_section .contact_info .field .text {
  display: flex;
  flex-direction: column;
}
main .contact_section .contact_info .field .text h4 {
  margin-bottom: 4px;
  color: #000;
  font-size: 18px;
}
main .contact_section .contact_info .field .text a {
  color: #777777;
}
main .contact_section .contact_info .field:hover .text a {
  color: #000;
}
main .contact_section .contact_info .field:hover .icon {
  border-color: transparent;
}
main .contact_section .contact_info .field:hover .icon i {
  color: #fff;
}
main .contact_section .contact_info .field:hover .icon::after {
  opacity: 1;
}
main .writeres {
  padding: 60px 8px;
}
main .writeres .flipCard {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .writeres .flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main .writeres .flipCard .cardFront .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  gap: 4px;
}
main .writeres .flipCard .cardFront .content .job {
  color: #fff;
  font-size: 12px;
}
main .writeres .flipCard .cardFront .content .title {
  font-size: 18px;
  color: #fff;
}
main .writeres .flipCard .cardFront .time {
  display: flex;
  gap: 24px;
}
main .writeres .flipCard .cardFront .time p {
  color: #fff;
  font-size: 14px;
}
main .writeres .flipCard .cardFront .time p i {
  margin-left: 4px;
}
main .writeres .flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}
main .writeres .flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .writeres .flipCard .cardBack .content .sponser {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
main .writeres .flipCard .cardBack .content img {
  height: 32px;
}
main .writeres .flipCard .cardBack .content h2 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #000;
  font-weight: 600;
}
main .writeres .flipCard .cardBack .content h2 img {
  height: 24px;
  margin-left: 8px;
}
main .writeres .flipCard .cardBack .content p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin: 0;
}
main .writeres .flipCard .cardBack .content h6 {
  margin: 0;
  font-weight: 600;
  color: #000;
}
main .writeres .flipCard .cardBack .content ol {
  padding: 0 16px 0 0;
  margin: 0;
}
main .writeres .flipCard .cardBack .content ol li {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin: 0;
}
main .writeres .flipCard .cardBack .content .btns {
  display: flex;
  gap: 32px;
}
main .writeres .flipCard:hover {
  z-index: 2;
}
main .writeres .flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
main .writeres .flipCard:hover .cardBack {
  transform: rotateY(0deg);
}
main .auth_section {
  padding: 50px 12px;
}
main .auth_section .auth_form {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 36px 24px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .auth_section .auth_form h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 4px;
}
main .auth_section .auth_form p {
  margin-bottom: 24px;
  text-align: center;
  line-height: 24px;
}
main .auth_section .auth_form p span {
  color: #da9c28;
}
main .auth_section .auth_form .image-change-wrapper {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0;
  margin-bottom: 16px;
}
main .auth_section .auth_form .image-change-wrapper label {
  color: #000;
  font-size: 14px;
}
main .auth_section .auth_form .image-change-wrapper .img-wrap {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .auth_section .auth_form .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .auth_section .auth_form .image-change-wrapper .upload input {
  display: none;
}
main .auth_section .auth_form .image-change-wrapper .upload .plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #da9c28;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .auth_section .auth_form .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
main .auth_section .auth_form .input_filed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  position: relative;
}
main .auth_section .auth_form .input_filed label {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
main .auth_section .auth_form .input_filed input,
main .auth_section .auth_form .input_filed textarea {
  width: 100%;
  height: 56px;
  background: #eee;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
}
main .auth_section .auth_form .input_filed textarea {
  height: 120px;
  padding: 8px 16px;
}
main .auth_section .auth_form .input_filed #phone {
  padding: 0 64px;
}
@media (max-width: 768px) {
  main .auth_section .auth_form .input_filed #phone {
    padding: 0 54px;
  }
}
main .auth_section .auth_form .input_filed #password {
  border-radius: 0 4px 4px 0;
}
main .auth_section .auth_form .input_filed .showPas {
  min-width: 48px;
  border: none;
  background: none;
  outline: none;
  background: #eee;
  border-radius: 4px 0 0 4px;
  color: #777777;
}
main .auth_section .auth_form .input_filed .phone_code {
  width: 70px;
  height: 56px;
  background: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .auth_section .auth_form .input_filed .phone_code img {
  height: 24px;
}
main .auth_section .auth_form .input_filed.phone::after {
  content: "+996";
  position: absolute;
  top: 48px;
  left: 90px;
  color: #000;
  font-weight: 600;
}
@media (max-width: 768px) {
  main .auth_section .auth_form .input_filed.phone::after {
    left: 80px;
  }
}
@media (max-width: 576px) {
  main .auth_section .auth_form .input_filed.phone::after {
    left: 70px;
  }
}
main .auth_section .auth_form a {
  color: #da9c28;
  transition: all 0.4s ease-in-out;
}
main .auth_section .auth_form a:hover {
  color: #000;
}
main .auth_section .auth_form .log {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: none;
  outline: none;
  background: #da9c28;
  color: #fff;
  margin: 12px 0;
  transition: all 0.4s ease-in-out;
}
main .auth_section .auth_form .log:hover {
  background: #000;
}
main .auth_section .auth_form p {
  margin: 0;
}
main .auth_section .auth_form .otp-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 24px;
  direction: ltr !important;
}
main .auth_section .auth_form .otp-container .otp-input {
  border-radius: 4px;
  width: 80px;
  direction: ltr !important;
  height: 60px;
  text-align: center;
  background: #f4f4f4;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  outline: none;
  border: none;
}
@media (max-width: 576px) {
  main .auth_section .auth_form .otp-container .otp-input {
    width: 48px;
    height: 48px;
  }
}
main .auth_section .auth_form .otp-container .otp-input::-webkit-inner-spin-button {
  display: none;
}
main .competition_details {
  padding: 60px 8px;
}
main .competition_details .about_competition h3 {
  font-size: 20px;
  font-weight: 700;
}
main .competition_details .about_competition .text p {
  color: #000;
  line-height: 28px;
  width: min(100%, 650px);
}
main .competition_details .about_competition .time {
  display: flex;
  margin-bottom: 14px;
  gap: 8px;
}
main .competition_details .about_competition .time p {
  color: #000;
}
main .competition_details .about_competition .time .inner {
  display: flex;
  gap: 16px;
}
main .competition_details .about_competition .time .inner p {
  color: #da9c28;
  font-size: 14px;
}
main .competition_details .about_competition .time .inner p i {
  margin-left: 4px;
}
main .competition_details .group {
  background-color: #fafafa;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
main .competition_details .group h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #000;
  gap: 8px;
}
main .competition_details .group h3 img {
  height: 32px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
main .competition_details .group ul li {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}
main .competition_details .group ul li i {
  margin-left: 4px;
  color: #da9c28;
}
main .competition_details .values {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main .competition_details .values {
    gap: 8px;
  }
}
main .competition_details .values .value {
  padding: 24px;
  height: 268px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  gap: 4px;
  min-width: 150px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  isolation: isolate;
}
main .competition_details .values .value::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
main .competition_details .values .value .img {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .competition_details .values .value .img img {
  width: 104%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.4s ease-in-out;
}
main .competition_details .values .value .text {
  z-index: 9;
}
main .competition_details .values .value .text h6 {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
main .competition_details .values .value .text p {
  font-size: 14px;
  transition: all 0.4s ease-in-out;
  line-height: 24px;
  color: #fff;
  height: 0;
  overflow: hidden;
}
main .competition_details .values .value:hover .text p {
  height: 100px;
}
main .competition_details .values .value:hover .img img {
  transform: scale(1.04) rotate(-2deg);
}
main .competition_details .prizes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main .competition_details .prizes {
    gap: 8px;
  }
}
main .competition_details .prizes .prize {
  padding: 24px 16px;
  flex: 1;
  border: 1px dashed #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 150px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
main .competition_details .prizes .prize h6 {
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
main .competition_details .prizes .prize p {
  font-size: 14px;
  line-height: 24px;
  transition: all 0.4s ease-in-out;
}
main .competition_details .prizes .prize:hover {
  border-color: transparent;
  background-color: #da9c28;
  transform: translateY(-5px);
}
main .competition_details .prizes .prize:hover h6 {
  color: white;
}
main .competition_details .prizes .prize:hover p {
  color: white;
}
main .history {
  padding: 60px 8px;
}
main .history .about_writing h2 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
main .history .about_writing .text p {
  color: #777777;
  font-size: 14px;
  line-height: 28px;
}
main .history .image {
  width: 100%;
}
main .history .image img {
  width: 100%;
  border-radius: 8px;
}
main .history .group {
  background-color: #fafafa;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
main .history .group .group_name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
main .history .group .group_name h5 {
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: 600;
}
main .history .group .poem {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: all 0.4s ease-in-out;
  height: 100%;
}
main .history .group .poem .img {
  width: 100%;
}
main .history .group .poem .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
}
main .history .group .poem .text {
  padding: 16px;
}
main .history .group .poem .text h6 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
main .history .group .poem .text p {
  color: #777777;
  font-size: 12px;
  line-height: 22px;
}
main .aticles {
  padding: 60px 8px;
}
main .aticles .group {
  background-color: #fafafa;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
main .aticles .group .group_name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #eee;
}
main .aticles .group .group_name h5 {
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: 600;
}
main .aticles .group .advices {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main .aticles .group .advices {
    gap: 8px;
  }
}
main .aticles .group .advices .advice {
  padding: 24px 16px;
  flex: 1;
  border: 1px dashed #d6d6d6;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
main .aticles .group .advices .advice h6 {
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  position: relative;
  padding-right: 24px;
}
main .aticles .group .advices .advice h6 span {
  right: -8px;
  top: -12px;
  position: absolute;
  font-size: 48px;
  color: #fafafa;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c8c8c8;
  transition: all 0.4s ease-in-out;
}
main .aticles .group .advices .advice p {
  font-size: 14px;
  line-height: 24px;
  transition: all 0.4s ease-in-out;
}
main .aticles .group .advices .advice:hover {
  border-color: transparent;
  background-color: #da9c28;
  transform: translateY(-5px);
}
main .aticles .group .advices .advice:hover h6 {
  color: white;
}
main .aticles .group .advices .advice:hover h6 span {
  color: #da9c28;
  -webkit-text-stroke-color: #fff;
}
main .aticles .group .advices .advice:hover p {
  color: white;
}
main .blogs {
  padding: 60px 8px 0;
}
main .blogs h2 {
  color: #000;
  font-size: 24px;
}
main .blogs .blog {
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
}
main .blogs .blog a {
  width: 100%;
  display: block;
  position: relative;
}
main .blogs .blog a .blog_image {
  overflow: hidden;
  width: 100%;
  position: relative;
}
main .blogs .blog a .blog_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(208deg, rgba(0, 0, 0, 0.0588235294), #000000);
}
main .blogs .blog a .blog_image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
  transition: all 0.4s ease-in-out;
}
main .blogs .blog a .date {
  width: 50px;
  height: 50px;
  background-color: #da9c28;
  position: absolute;
  bottom: -25px;
  left: 16px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2px;
}
main .blogs .blog a .date span {
  z-index: 99;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}
main .blogs .blog h4 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 4px;
}
main .blogs .blog h4 a {
  color: #000;
}
main .blogs .blog p {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}
main .blogs .blog p a {
  line-height: 24px;
  display: inline;
  margin-right: 4px;
  color: #777777;
  transition: all 0.4s ease-in-out;
}
main .blogs .blog p a:hover {
  color: #da9c28;
}
main .about_writer {
  padding: 160px 8px 60px;
  border-top: 1px solid #eee;
}
@media (max-width: 768px) {
  main .about_writer {
    padding-top: 260px;
  }
}
main .about_writer .group {
  background: #fafafa;
  padding: 24px;
  border-radius: 12px;
}
main .about_writer .nav {
  border-bottom: 2px solid #eee;
  display: flex;
  gap: 32px;
}
main .about_writer .nav .nav-link {
  color: #000;
  padding: 2px 0;
  font-weight: 600;
  display: flex;
  gap: 6px;
  box-shadow: none;
  position: relative;
}
main .about_writer .nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #da9c28;
  transition: all 0.4s ease-in-out;
}
main .about_writer .nav .nav-link.active, main .about_writer .nav .nav-link:hover {
  background: none;
  color: #da9c28;
}
main .about_writer .nav .nav-link.active::after, main .about_writer .nav .nav-link:hover::after {
  width: 100%;
}
main .about_writer .tab-content {
  padding: 1.5rem 0 0;
}
main .about_writer .tab-content .text {
  width: min(800px, 100%);
}
main .about_writer .tab-content .text p {
  color: #777777;
}
main .about_writer .tab-content .work {
  padding: 24px;
  height: 268px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  gap: 4px;
  min-width: 150px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  isolation: isolate;
}
main .about_writer .tab-content .work::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
main .about_writer .tab-content .work .img {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .about_writer .tab-content .work .img img {
  width: 104%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.4s ease-in-out;
}
main .about_writer .tab-content .work .text {
  z-index: 9;
}
main .about_writer .tab-content .work .text h6 {
  font-weight: 700;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
  margin: 0;
  color: #fff;
}
main .about_writer .tab-content .work .text p {
  font-size: 14px;
  transition: all 0.4s ease-in-out;
  line-height: 24px;
  color: #fff;
  height: 0;
  overflow: hidden;
}
main .about_writer .tab-content .work .time {
  z-index: 9;
  display: flex;
  gap: 24px;
}
main .about_writer .tab-content .work .time p {
  color: #fff;
  font-size: 12px;
}
main .about_writer .tab-content .work .time p i {
  margin-left: 4px;
}
main .about_writer .tab-content .work:hover .text p {
  height: 100px;
}
main .about_writer .tab-content .work:hover .img img {
  transform: scale(1.04) rotate(-2deg);
}
main .blog_details__section {
  padding: 60px 8%;
}
@media (max-width: 992px) {
  main .blog_details__section .row {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
main .blog_details__section .blog_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main .blog_details__section .blog_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .blog_details__section .blog_content h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-bottom: 12px;
}
@media (max-width: 576px) {
  main .blog_details__section .blog_content h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
main .blog_details__section .blog_content p {
  font-size: 16px;
  color: #777777;
  line-height: 28px;
  margin-bottom: 24px;
}
main .blog_details__section .blog_content .share_blog {
  display: flex;
  align-items: center;
  gap: 24px;
}
main .blog_details__section .blog_content .share_blog h6 {
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
main .blog_details__section .blog_content .share_blog .social_share {
  display: flex;
  gap: 8px;
}
main .blog_details__section .blog_content .share_blog .social_share a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .blog_details__section .blog_content .share_blog .social_share a i {
  margin: 0;
  transition: all 0.4s ease-in-out;
  font-size: 16px;
}
main .blog_details__section .blog_content .share_blog .social_share a:hover {
  background: #da9c28;
  color: #da9c28;
}
main .blog_details__section .blog_content .share_blog .social_share a:hover i {
  color: #fff;
}
main .poem_details {
  padding: 60px 8px;
}
main .poem_details .img {
  width: 100%;
  height: 100%;
}
main .poem_details .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 4/2;
}
main .poem_details .entry-content p {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  font-size: 16px;
  color: #000;
}

footer {
  padding: 60px 8px 16px;
  background: #fafafa;
}
footer .img img {
  height: 120px;
}
footer .about p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  line-height: 26px;
}
footer .about .social {
  display: flex;
  margin-top: 16px;
  gap: 12px;
}
footer .about .social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #da9c28;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
footer .about .social a i {
  color: #fff;
}
footer .about .social a:hover {
  background: #000;
  transform: translateY(-4px);
}
footer h3 {
  color: #000;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 992px) {
  footer h3 {
    margin-top: 32px;
  }
}
footer ul {
  display: flex;
  flex-wrap: wrap;
}
footer ul li {
  padding-left: 16px;
}
footer ul li a {
  color: #000;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
footer ul li a:hover {
  color: #da9c28;
}
footer .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #eee;
}
footer .copy p {
  color: #000;
  line-height: 26px;
}
footer .copy p a {
  color: #da9c28;
}

.nice-select {
  width: 100%;
  background: #f3f3f3;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0px 16px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #f3f3f3;
}
.nice-select .list {
  border: none;
  border-radius: 5px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.animatedLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: #000;
  transition: all 0.4s ease-in-out;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.animatedLink i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  transition: width 0.3s ease-in-out;
}
.animatedLink i img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}
.animatedLink i span {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border: 1px solid #000;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
}
.animatedLink:hover {
  padding: 0 20px;
  color: #fff;
}
.animatedLink:hover i {
  width: 20px;
}
.animatedLink:hover i span {
  width: 100%;
  border: 1px solid #da9c28;
  background-color: #da9c28;
}

.participate_model .form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}
.participate_model .form-group label {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.participate_model .form-group input {
  outline: none;
  border: none;
  background: #eee;
  border-radius: 4px;
  height: 48px;
  padding: 0 12px;
  font-size: 14px;
}
.participate_model .form-group textarea {
  outline: none;
  border: none;
  background: #eee;
  border-radius: 4px;
  height: 120px;
  padding: 8px 12px;
  font-size: 14px;
}
.participate_model .form-group .buttton {
  outline: none;
  border: none;
  width: 100%;
  padding: 8px;
  background: #da9c28;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.participate_model .form-group .buttton:hover {
  background: #000;
}

.filepond--credits {
  display: none !important;
}

.filepond--file {
  direction: ltr !important;
}/*# sourceMappingURL=style.css.map */